body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    
    color: #333;
    background: #cfcfcf;
    background-image: url("../../assets/images/hotel-wallpaper.png");
  }
  
.header {
    background-color: black;
    height: 70px;
    padding: 15px;
    
    }



.container {
    
    width: 1040px;
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
    padding-bottom: 150px;
    padding-top: 25px;
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

#subject {
    width: 1040px;
    margin-bottom: 50px;
    
    
}

#country {
margin-bottom: 50px;
}

          
      input {
        width: 100%;
        padding: 12px 20px;
        border: 1px solid white;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        
}


p {
margin-left: 240px;
font-size: 20px;
margin-top: 25px;
margin-bottom: 25px;
}


#main-bio {
    width: 960px;
    float: left;
}

h1 {
background-color: whitesmoke;
color: rgb(82, 82, 82);
font-size: 40px;
float: left;
height: 100px;
padding-left: 15px;
padding-right: 15px;
margin-left: 165px;
margin-top: 0px;
line-height: -10px;

}


li {

}

ul {
    list-style-type: none;
    margin: 20px;
}



#bio-image {
    float:left;
    height: 200px;
    width: 200px;
    margin-top: 25px;
    border: 2px solid;
}


.topnav {
    font-size: 22px;
    margin-right: 55px;
    margin: 50px;
    
     
}




.topnav a  {
float: right;

margin-right: 80px;
margin-bottom: 45px;
color: grey;
text-decoration: none;

}

a:hover {
text-decoration: underline;

}

#paragraph1 {
margin-bottom: 50px;

}

.box-set {
    position: relative;
    align-items: center;
    height: 400px;
    
  }
  
  .box {
    width: 150px;
    height: 150px;
    background-image: url(https://via.placeholder.com/300/09f/fff.png);
    
  }

  .box1 {
    width: 300px;
    height: 150px;


  }